.main-content {
    padding: 20px;
    text-align: center;
  }
  
  .promotion {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .promotion-details {
    max-width: 50%;
  }
  
  .promotion img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
  }